.padding-nav {
	padding-left: 2em;
	padding-right: 10em;
}

.container {
	margin-top: 2em;
}

.add-btn {
	margin-top: 3em;
	text-align: center;
}

.main {
	display: flex;
	justify-content: space-between;
}

.border-image {
	width: 15em;
	margin-top: 10em;
}

.input-group-text {
	background-color: rgb(29, 119, 254);
	color: white;
}
