.list-group {
	margin-top: 2em;
}

.ok {
	background-color: green;
}

.late {
	background-color: red;
}

.medium {
	background-color: orange;
}

.list-a:hover{
    background-color: rgb(29, 119, 254);
}

.filter {
	margin-top: 10em;
	font-size: 1.5em;
}
